
{% extends 'core/base.html' %}
{% block content %}
<div class=" container mt-5">
    <h1 class="text-warning mb-5 border-bottom">SERVICES</h1>
    <div class="row  text-center text-white mb-5">
        <div class="col-sm-4">
            <i class="fa-solid fa-magnifying-glass-dollar fa-2x mb-2 i-color"></i>
            <h3>SEO</h3>
            <p class="ss-color">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standar</p>
        </div>

        <div class="col-sm-4">
            <i class="fa-solid fa-palette fa-2x mb-2 i-color"></i>
            <h3>Frontend developer</h3>
            <p class="ss-color">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standar</p>
        </div>

        <div class="col-sm-4">
            <i class="fa-solid fa-code  fa-2x mb-2 i-color"></i>
            <h3>Backend developer</h3>
            <p class="ss-color">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standar</p>
        </div>
    </div>
    <div class="row  text-center text-white mb-5">
        <div class="col-sm-4">
            <i class="fa-solid fa-pencil fa-2x mb-2 i-color"></i>
            <h3>Graphic Desiner</h3>
            <p class="ss-color">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standar</p>
        </div>

        <div class="col-sm-4">
            <i class="fa-brands fa-android fa-2x mb-2 i-color"></i>
            <h3>App developer</h3>
            <p class="ss-color">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standar</p>
        </div>

        <div class="col-sm-4">
            <i class="fa-solid fa-code  fa-2x mb-2 i-color"></i>
            <h3>Web Desiner </h3>
            <p class="ss-color">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standar</p>
        </div>
    </div>

    <div class="row  text-center text-white mb-5">
        <div class="col-sm-4">
            <i class="fa-brands fa-apple fa-2x mb-2 i-color"></i>
            <h3>App developer</h3>
            <p class="ss-color">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standar</p>
        </div>

        <div class="col-sm-4">
            <i class="fa-solid fa-headset fa-2x mb-2 i-color"></i>
            <h3>Hosting</h3>
            <p class="ss-color">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standar</p>
        </div>

        <div class="col-sm-4">
            <i class="fa-solid fa-code  fa-2x mb-2 i-color"></i>
            <h3>Web developer</h3>
            <p class="ss-color">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standar</p>
        </div>
    </div>
</div>
{% endblock content %}